@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Asset>
<h3>List of RoomType</h3>
<div class="d-flex align-items-center mb-2">
    <div class="flex-grow-1">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show m-0" role="alert">
                @TempData["Message"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>

    <a asp-area="Admin" asp-controller="Asset" asp-action="Create"
       class="btn btn-secondary ms-3" style="font-size:16px; font-weight:bold;">Create</a>
</div>

<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead class="bg-success">
                        <tr>
                            <th>ID</th>
                            <th>Asset Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Purchase Date</th>
                            <th>Description</th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var Asset in Model)
                            {
                                <tr>
                                    <td>@Asset.AssetId</td>
                                    <td>@Asset.AssetName</td>
                                    <td class="text-center">
                                        <a class="btn btn-warning w-50" asp-area="Admin" asp-controller="Asset" asp-action="Edit" asp-route-Id="@Asset.AssetId">Edit</a>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-danger w-50" asp-area="Admin" asp-controller="Asset" asp-action="Delete" asp-route-Id="@Asset.AssetId">Delete</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
<div class="pagination-container d-flex justify-content-center mt-4">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { pageNumber = page }),
            new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },
        UlElementClasses = new string[] { "pagination", "pagination-sm" }
    })
</div>