@model IEnumerable<SchoolAsset.DataLayer.Models.Building>

@{
    ViewData["Title"] = "Danh sách tòa nhà";
}
<div class="row mb-1 align-items-center">
    <div class="col">
        <h2 class="mb-3">Danh sách Tòa Nhà</h2>
    </div>
    <div class="col text-end">
        <a asp-controller="Building" asp-action="Create" class="btn btn-primary">
            Create
        </a>
    </div>
</div>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<table class="table table-bordered table-hover">
    <thead class="table-success">
        <tr>
            <th>ID</th>
            <th>Building Name</th>
            <th>Location</th>
            <th>Status</th>
            <th>Building Date</th>
            <th colspan="3" class="text-center">Hành Động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var building in Model)
        {
            <tr>
                <td>@building.BuildingId</td>
                <td>@building.BuildingName</td>
                <td>@building.Location</td>
                <td>@building.Status</td>
                <td>@(building.Building_Date.HasValue ? building.Building_Date.Value.ToString("dd/MM/yyyy") : "")</td>
                <td>
                    <a asp-controller="Building" asp-action="Details" asp-route-id="@building.BuildingId" class="btn btn-info btn-sm col-12">
                        <i class="bi bi-eye"></i> Xem
                    </a>
                </td>
                <td>
                    <a asp-controller="Building" asp-action="Edit" asp-route-id="@building.BuildingId" class="btn btn-warning btn-sm col-12">
                        <i class="bi bi-pencil-square"></i> Sửa
                    </a>
                </td>
                <td>
                    <a asp-controller="Building" asp-action="Delete" asp-route-id="@building.BuildingId" class="btn btn-danger btn-sm col-12" onclick="return confirm('Bạn có chắc chắn muốn xóa?');">
                        <i class="bi bi-trash"></i> Xóa
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
